/1079-SPHPP_CNB_JURKAT_TT_ControlLysC_RPB_R1_1PEPT/
/1080-SPHPP_CNB_JURKAT_TT_ControlTrypsin_RPB_R1_1PEPT/
/964-HPP_Jurkat_CHAPS_HPLC_expto1_newmzId_1_Pept/
/Chr16_SPHPP_CNB_JURKAT_TT_CHAPS_RPB_R2_PG_curated_1pept/
/Chr16_SPHPP_IIBB_MCF7_OT_OGEL_MASCOT_curated_FDR1_peptide/
/Chr16_SPHPP_PCB_SG_MCF7_curated_FDR1_peptide/
/Chr16_SPHPP_UV_CCD18_TT_GEL_R1_PG_curated_FDR1_protein/
/GBM27_p19_CHAPS_GEL_R1_PG_curated/
/HPP_Jurkat_RIPA_HPLC_Expto1_NewmzIdPRUEBA_A_BORRAR/
/masPRUEBA_A_BORRAR/
/otroPRUEBA_A_BORRAR/
/rep1/
/rep2/
/SPHPP_CIB_CCD18_ProteinGrouping_curated_FDR1_peptide/
/SPHPP_CNB_JURKAT_TT_4SDS_GEL_R1_PG_curated/
/SPHPP_CNB_JURKAT_TT_4SDS_GEL_R2_PG_curated/
/SPHPP_CNB_JURKAT_TT_4SDS_RPB_R1_PG_curated/
/SPHPP_CNB_JURKAT_TT_4SDS_RPB_R2_PG_curated/
/SPHPP_CNB_JURKAT_TT_CHAPS_GEL_R1_PG_curated/
/SPHPP_CNB_JURKAT_TT_CHAPS_GEL_R2_PG_curated/
/SPHPP_CNB_JURKAT_TT_CHAPS_RPB_R1_PG_curated/
/SPHPP_CNB_JURKAT_TT_CHAPS_RPB_R2_PG_curated/
/SPHPP_CNB_JURKAT_TT_CHAPS_RPB_R2tec_PG_curated/
/SPHPP_CNB_JURKAT_TT_RIPA_GEL_R1_PG_curated/
/SPHPP_CNB_JURKAT_TT_RIPA_GEL_R2_PG_curated/
/SPHPP_CNB_JURKAT_TT_RIPA_RPB_R1_PG_curated/
/SPHPP_CNB_JURKAT_TT_RIPA_RPB_R2_PG_curated/
/SPHPP_CNB_MCF7_TT_RPB_R1_PG_curated_FDR1prot/
/y masPRUEBA_A_BORRAR/
